* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}

body {
    height: auto;
}

header {
    width: 100%;
    height: 220px;
    border-bottom: 4px solid black;
    box-shadow: 0 10px 10px black;
}

div.logo {
    position: relative;
    height: 100%;
    width: 220px;
    right: -100%;
    background-color: blue;
    transform: translateX(-100%);
    background-image: url('../images/GS logo.png');
    border-left: 2px solid black;
}

div.title {
    position: relative;
    width: 55%;
    font-size: 18px;
    top: -95%;
    margin-left: 80px;
    font-family: 'Acme', sans-serif;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-left: 10px;
}

div.logedUser {
    line-height: 2.5rem;
    position: relative;
    font-family: 'Acme', sans-serif;
    width: 30%;
    margin-left: 80px;
    top: -85%;
}

button.accountChanges {
    position: relative;
    background-color: white;
    width: 140px;
    height: 50px;
    left: 22%;
    top: -110%;
    border-radius: 5px;
}

button.accountChanges a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    border: 3 px solid black;
    text-shadow: 2px 2px 2px grey;
    box-shadow: 4px 4px 2px black;
    border-bottom: 5px;
    transition: 0.3s;
    }

    button.accountChanges a:hover {
        box-shadow: 8px 8px 5px grey;
        text-shadow: 4px 4px 4px black;
    }

    ul {
        position: absolute;
        margin-top: 10px;
    }

    ul li {
        height: 5rem;
        width: 15rem;
        margin: 10px;
        list-style: none;
    }

    ul li a {
        text-decoration: none;
        line-height: 5rem;
        text-align: center;
        font-family: 'roboto', sans-serif;
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        border: 2px solid black;
        box-shadow: 2px 4px 4px grey;
        color: black;
        text-shadow: 3px 3px 5px grey;
        border-radius: 5px;
        transition: 0.2s;
    }

    ul li a:hover {
        text-shadow: 8px 8px 8px black;
    }

    ul li:nth-child(1) a {
        font-size: 1rem;
    }

    div#app {
        position: absolute;
        left: 17rem;
        min-height: 25rem;
        margin-top: 20px;
        width: 80%;
        border: 2px solid black;
        box-shadow: 5px 5px 5px black;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 1.5rem;
        width: 100%;
        background-color: grey;
    }

    footer p {
        float: right;
        line-height: 1.5rem;
        margin-right: 10px;
    }

    footer button {
        float: right;
        margin-right: 10px;
        border: 1px solid black;
        height: 95%;
        padding: 0 5px;
        border-radius: 5px;
        transition: 0.3s;
    }

    footer button a {
        text-decoration: none;
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: 1.4rem;
        color: black;
        font-size: 1rem;
    }

    footer button.logout {
        float: left;
        margin-left: 10px;
    }

    footer button:hover {
        background-color: black;
    }

    footer button:hover a {
        color: blanchedalmond;
        font-size: 1.2rem;
    }

    @keyframes textAppear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    h2.welcom {
        font-family: 'roboto', sans-serif;
        line-height: 4rem;
        text-align: center;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 0;
        animation: textAppear 0.8s ease forwards;
    }

    div#app p {
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 30px;
        opacity: 0;
        animation: textAppear 0.8s ease forwards;
        animation-delay: 0.4s;
    }

    div.loadingBox {
        display: none;
        position: absolute;
        left: 17rem;
        height: 40rem;
        margin-top: 20px;
        width: 80%;
        border: 2px solid black;
        box-shadow: 5px 5px 5px black;
        background-color: white;
        z-index: 12;
        text-align: center;
        line-height: 25rem;
        font-size: 5rem;
    }

    div.loadingBox.onload {
        display: block;
    }

    div.unreadedBox,
    div.readedBox {
        margin: 10px 15px 25px 15px;
        border: 2px solid black;
        text-align: left;
    }

    div.unreaded,
    div.readed {
        text-align: center;
    }

    div.unreaded.hide,
    div.readed.hide,
    div.actualProducts.hide {
        display: none;
    }

    div.unreaded h1,
    div.readed h1 {
        font-family: 'roboto', sans-serif;
        margin: 15px 0;
    }

    div.unreadedBox h3,
    div.readedBox h3 {
        margin: 10px 0 10px 10px;
        text-shadow: 3px 3px 5px black;
        font-size: 1.5rem;
    }

    div.unreadedBox h4,
    div.readedBox h4 {
        margin: 10px 0 10px 10px;
        font-size: 1.2rem;
    }

    div.unreadedBox p,
    div.readedBox p {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    button.read,
    button.delete,
    button.editArticle,
    button.removeArticle,
    button.clearArtAsso,
    button.editProduct,
    button.removeProduct {
        background-color: white;
        border: 2px solid black;
        font-size: 1.3em;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.4s;
    }

    button.read:hover,
    button.delete:hover,
    button.editArticle:hover,
    button.removeArticle:hover,
    button.clearArtAsso:hover,
    button.editProduct:hover,
    button.removeProduct:hover {
        box-shadow: 5px 5px 10px black;
    }

    button.read {
        position: relative;
        bottom: 10px;
        left: 55%;
        bottom: 12em;
    }

    button.delete {
        position: relative;
        margin-bottom: 10px;
        right: 5em;
    }

    button.delete.onreaded {
        left: 1em;
    }

    h2.nomessage {
        margin-bottom: 40px;
    }

    button.showReaded,
    button.showUnreaded,
    button.addAnno,
    button.showAnno,
    button.archivedAnno,
    button.addArticle,
    button.showArticles,
    button.clearArt,
    button.addProduct,
    button.showProducts,
    button.closeEditProduct {
        background-color: white;
        border: 2px solid black;
        font-size: 1.3em;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        margin: 10px 0 0 10px;
        transition: 0.4s;
    }

    button.showReaded.active,
    button.showUnreaded.active,
    button.addAnno.active,
    button.showAnno.active,
    button.archivedAnno.active,
    button.addArticle.active,
    button.showArticles.active,
    button.addProduct.active,
    button.showProducts.active,
    button.closeEditProduct.active,
    button.showReaded:hover,
    button.showUnreaded:hover,
    button.addAnno:hover,
    button.showAnno:hover,
    button.archivedAnno:hover,
    button.addArticle:hover,
    button.showArticles:hover,
    button.clearArt:hover,
    button.addProduct:hover,
    button.showProducts:hover,
    button.closeEditProduct:hover {
        color: white;
        background-color: blue;
    }

    div.replace,
    div.remove {
        position: relative;
        left: 30%;
        bottom: 190px;
        color: green;
        font-size: 1.5rem;
    }

    div.remove {
        color: red
    }

    div.addingAnno.hide,
    div.actualAnno.hide,
    div.archiveAnno.hide,
    div.popupForm.hide,
    div.addingArticle.hide,
    div.actualArticles.hide,
    div.popupFormNews.hide,
    button.removeParagraph.hide,
    button.removeParagraphEdit.hide,
    div.editArticle.hide {
        display: none;
    }

    div.addingAnno form,
    div.popupForm form,
    div.addingArticle form,
    div.popupFormNews form,
    div.editArticle form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 40px;
        align-items: center;
    }



    div.addingAnno form label,
    div.popupForm form label,
    div.addingArticle form label,
    div.popupFormNews form label,
    div.editArticle form label {
        font-size: 1.5rem;
        margin: 15px 0 20px 10px;
    }

    div.addingAnno form input,
    div.popupForm form input,
    div.addingArticle form input,
    div.popupFormNews form input,
    div.editArticle form input {
        width: 40%;
        font-size: 1.2rem;
    }

    div.addingAnno form textarea,
    div.popupForm form textarea,
    div.editArticle form textarea {
        width: 60%;
        font-size: 1.2rem;
    }

    div.popupFormNews form textarea {
        width: 100%;
        height: 10rem;
        margin: 20px 0;
        font-size: 1.2rem;
    }

    div.addingAnno form button,
    div.popupForm form button,
    div.addingArticle form button,
    div.popupFormNews form button,
    button.removeFoto,
    button.editSendProduct,
    button.removeProductFoto {
        height: 2rem;
        font-size: 1.4rem;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        padding: 0 8px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 2px 2px 5px black;
        transition: 0.3s;
    }

    div.addingAnno form button:hover,
    div.popupForm form button:hover,
    div.addingArticle form button:hover,
    div.popupFormNews form button:hover,
    button.removeFoto:hover,
    button.editSendProduct:hover,
    button.removeProductFoto:hover {
        box-shadow: 5px 5px 10px black;
    }

    button.clear,
    button.close {
        position: absolute;
        right: 7rem;
        top: 10rem;
    }

    div.infoBox,
    div.infoBoxEdit,
    div.infoBoxArticle {
        position: absolute;
        top: 9rem;
        left: 2rem;
        width: 20rem;
        font-size: 2rem;
        border: 2px solid black;
        text-align: center;
        box-shadow: 4px 4px 5px black;
        color: green;
        padding: 5px 0;
    }

    div.infoBox.hide,
    div.infoBoxEdit.hide,
    div.infoBoxArticle.hide {
        display: none;
    }

    div.actualAnno h1 {
        margin: 10px 0 20px 10px
    }

    div.annoucement {
        position: relative;
        border: 2px solid black;
        width: 70%;
        margin: 10px 0 20px 10px;
        box-shadow: 4px 4px 5px black;
    }

    div.annoucement h2 {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
        }

        div.annoucement p {
            margin: 2.5rem 0 1rem 20px;
        }

        div.annoucement button {
            height: 2rem;
            background-color: white;
            text-shadow: 2px 2px 5px black;
            box-shadow: 2px 2px 5px black;
            padding: 0 8px;
            margin: 10px;
            cursor: pointer;
            transition: 0.4s;
        }

        div.annoucement button:hover {
            box-shadow: 5px 5px 10px black;
        }

        div.annoucement button.deleteAnno {
            float: right;
        }

        button.addParagraph {
            position: absolute;
            right: 20rem;
            top: 16.5rem
        }

        div.addingArticle form textarea {
            margin-top: 30px;
            width: 55rem;
            height: 5rem;
        }

        div.paragraphBox {
            width: 55rem;
        }

        div.articleShort {
            border: 2px solid black;
            margin: 20px 10px 15px 10px;
            padding: 10px;
            box-shadow: 5px 5px 8px black;
        }

        div.actualArticles h1 {
            margin: 20px 0 10px 10px;
        }

        div.articleShort h1 {
            font-size: 1.5rem;
        }

        button.clearArt {
            position: absolute;
            left: 5rem;
            top: 15rem;
    }

    img.img {
        position: absolute;
        right: 0;
        top: 0;
        width: 15rem;
        height: 20rem;
        margin: 10px 10px 0 0;
    }

    h1.fotoTitle {
        position: absolute;
        top: 0;
        right: 18rem;
    }

    button.removeFoto {
        position: absolute;
        top: 3rem;
        right: 18rem;
    }

    button.closeEditor {
        position: absolute;
        top: 6rem;
        left: 8rem;
    }

    h1.articleId {
        position: absolute;
        bottom: 5rem;
        right: 5rem;
        font-size: 1rem;
    }

    button.clearArtAsso {
        position: absolute;
        left: 5rem;
        top: 5rem;
    }

    div.productShort {
        border: 2px solid black;
        padding: 10px;
        margin: 20px 0 20px 10px;
        box-shadow: 0 -5px 5px black;
        position: relative;

    }

    div.productShort:last-child {
        margin-bottom: 50px;
    }

    div.actualProducts h1 {
        margin: 20px 0 20px 20px;
    }

    div.productShort img {
        position: relative;
        left: 70%;
        bottom: 5rem;
        width: 20rem;
        height: 18rem;
    }

    div.productShort img.hide {
        display: none;
    }

    button.closeEditProduct {
        position: absolute;
        left: 0;
        top: 14rem;
    }

    h1.labelToFoto {
        position: absolute;
        right: 18rem;
        top: 2rem;
    }

    button.removeProductFoto {
        position: absolute;
        top: 21rem;
        right: 5rem;
    }

    h1.idBox {
        position: absolute;
        right: 4rem;
        top: 35rem;
        font-size: 1rem;
    }
