div.assortment {

    position: relative;
    left: 8%;
    width: 80%;
    border: 2px solid grey;
    margin-bottom: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.assortment h1 {
    width: 80%;
    background-color: grey;
    color: white;
    font-family: 'Explora', sans-serif;
    font-size: 50px;
    padding-left: 10px;
}

div.assortment article {

    margin: 10px 0 0 20px;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    max-width: 50%;
}

div.assortmentFoto {
    margin-top: 5px;
    left: 50%;
    width: 45%;
    }

    div.assortmentFoto img {
        width: 100%;
}

div.nofoto {
    display: none;
}

button.toassortment {
    display: none;
}

button.toassortment.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

 button.toassortment.active:hover {
    background-color: cadetblue;
    color: white;
}
@media(max-width: 768px) {
    div.shops.cf button.toassortment {
        display: none;
    }
    div.assortment h1 {
        font-size: 10px;
        width: 80%;
    }
    div.assortment article {
        font-size: 8px;
        width: 50%;
        margin-left: 3px;
        margin-top: 5px;
    }

}
