button.moveUp {
    font-size: 70px;
    color: white;
    background-color: orangered;
    height: 0;
    width: 0;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 80vh;
    right: 5vw;
    opacity: 0;
    transition: 0.7s;
}

button.moveUp.active {
    height: 100px;
    width: 100px;
    opacity: 0.3;
    z-index: 3;
}

button.moveUp.active:hover {
    opacity: 1;
}
@media(max-width: 1024px) {
    button.moveUp {
        font-size: 40px;
    }

    button.moveUp.active {
        height: 70px;
        width: 70px;
    }
}

@media(max-width: 768px) {
button.moveUp {
    font-size: 20px;
}

    button.moveUp.active {
        height: 50px;
        width: 50px;
    }
    
}

