<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GS "SCH" Komańcza </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c353fea5cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/c353fea5cc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class='topBar'></div>
    <section class='header'>
        <div class='name'>
            <h1>Gminna Spółdzielnia</h1>
            <h2>"Samopomoc Chłopska"</h2>
            <h3>38-543 Komańcza 86 </h3>
        </div>
        <div class='banner'>
            <h1>Piekarnia</h1>
            <div class="bannerLogo"></div>
            <img src="" alt="">
        </div>
        <div class='logo'></div>
    </section>
    <nav class='main'>
        <ul>
            <li><a>Aktualności</a></li>
            <li><a>Placówki</a></li>
            <li><a>O spółdzielni</a></li>
            <li><a>Działalność</a></li>
            <li><a>Zarząd</a></li>
            <li><a>Kontakt</a></li>
        </ul>
    </nav>
</body>